@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid position-absolute">
        <NavLink class="navbar-brand">
            <img src="https://i.imgur.com/7o6cHcF.png" alt="MainLogo" width="50px" height="50px" style="position: absolute; top: 50%; transform: translateY(-50%);" />
        </NavLink>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="book">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Book
            </NavLink>
        </div>


        <AuthorizeView Roles="Admin">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="admin">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
        </NavLink>
    </div>

        </AuthorizeView>


        <AuthorizeView Roles="Customer">

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="customer">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer
        </NavLink>
    </div>

        </AuthorizeView>


        <AuthorizeView>

    <NotAuthorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        </NotAuthorized>

        <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
            </NavLink>
        </div>
        </Authorized>

    </AuthorizeView>
    </nav>
</div>

