@page "/admin/createuser"
@using Fribergs_Alpha.Data
@using Fribergs_Alpha.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "AdminRoleRequired")]

@inject IUserRepository UserRepo


@if (Result != null)
{
    <span class="text-success">@Result</span>

    <NavLink class="nav-link" href="/admin/createuser">Create new user account</NavLink>
    <NavLink class="nav-link" href="/admin">Return</NavLink>
}


@if (ShowForm)
{
    <h3>Create new user account</h3>

    <EditForm Model="User" OnValidSubmit="CreateNewUser" FormName="CreateUser">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            <label>
                First name
                <InputText @bind-Value="User!.FirstName" />
            </label>
        </div>
        <div>
            <label>
                Last name
                <InputText @bind-Value="User!.LastName" />
            </label>
        </div>
        <div>
            <label>
                Adress
                <InputText @bind-Value="User!.Address" />
            </label>
        </div>
        <div>
            <label>
                Email
                <InputText @bind-Value="User!.Email" />
            </label>
        </div>
        <div>
            <label>
                Phone number
                <InputText @bind-Value="User!.PhoneNumber" />
            </label>
        </div>
        <div>
            <label>
                Password
                <InputText @bind-Value="User!.Password" />
            </label>
        </div>
        <div>
            <label class="text-danger">
                Grant user administrator rights?
                <InputCheckbox @bind-Value="User!.AdminRole" />
            </label>
        </div>
        <br />
        <div>
            <button type="submit">Submit</button>
        </div>

    </EditForm>
}


@code {

    public string? Result { get; set; }

    public bool ShowForm { get; set; } = true;

    [SupplyParameterFromForm]
    public User? User { get; set; } = new User();


    public void CreateNewUser()
    {
        UserRepo.AddUser(User);
        Result = $"Successfully created customer {User.FirstName} {User.LastName}!";
        ShowForm = false;
        StateHasChanged();
    }
}
