@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using Fribergs_Alpha.Components.Admin
@attribute [Authorize(Policy = "AdminRoleRequired")]

<h3>Admin</h3>

<span>You are currently in the Admin section</span>

<h4>User management</h4>
<NavLink class="nav-link" href="/admin/createuser/customer">Create customer</NavLink>
<NavLink class="nav-link" href="/admin/createuser/admin">Create administrator</NavLink>


@code {

}
