@page "/customer"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize (Policy = "CustomerRoleRequired")]

<h3>Customer</h3>

<span>You are currently in the Customer section</span>


<NavLink class="nav-link" href="/bookings">List all bookings</NavLink>

@code {

}
