@page "/customer"
@using Fribergs_Alpha.Services
@attribute [Authorize (Policy = "CustomerRoleRequired")]
@inject UserAuthService authService
@rendermode InteractiveServer

<h3>Customer</h3>

<span>You are currently in the Customer section</span>

@* Test av GetUserIdAsync *@
<span>Logged in with user ID: @UserId</span> 

<NavLink class="nav-link" href="bookings/all">List all bookings</NavLink>
<NavLink class="nav-link" href="@($"user/edit?userid={UserId}")">View and edit personal details</NavLink>
<NavLink class="nav-link" href="@($"user/delete?userid={UserId}")" style="color:darkred">Remove account</NavLink>

@code {

    public int UserId { get; set; }

    protected override void OnInitialized()
    {
        UserId = authService.GetUserIdAsync().Result;
    }
}
