@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: center; align-items: center;">
    <div>
        <h1>Welcome to Fribergs!</h1>
        <h2>The best rental cars, for the best price!</h2>
        <img src="https://i.imgur.com/7o6cHcF.png" alt="MainLogo" width="500px" height="500px" />
    </div>
</div>