@page "/cars"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Fribergs_Alpha.Data
@inject ICar carRepository
@inject ICarCategory carCategoryRepository
@using Fribergs_Alpha.Models
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="cars/create">Create New</a>
</p>

<QuickGrid Class="table" Items="GetCarList()">
    <PropertyColumn Property="car => car.Category.Category" />
    <PropertyColumn Property="car => car.Brand" />
    <PropertyColumn Property="car => car.CarModel" />
    <PropertyColumn Property="car => car.Year" />
    <PropertyColumn Property="car => car.Color" />
    <PropertyColumn Property="car => car.Description" />
    <PropertyColumn Property="car => car.PricePerDay" />
    <PropertyColumn Property="car => car.CarPicUrl" />

    <TemplateColumn Context="car">
        <a href="@($"cars/edit?carid={car.CarId}")">Edit</a> |
        <a href="@($"cars/details?carid={car.CarId}")">Details</a> |
        <a href="@($"cars/delete?carid={car.CarId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code{
    IQueryable<Car>? Cars = null;

    protected IQueryable<Car>? GetCarList()
    {
        return Cars = carRepository.GetAllCars().AsQueryable();
    }
}
