@page "/CarCategories/edit"
@inject ICarCategory carCategoryRepository
@using Fribergs_Alpha.Models
@using Fribergs_Alpha.Data
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>CarCategory</h4>
<hr />
@if (CarCategory is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="CarCategory" OnValidSubmit="UpdateCarCategory" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="CarCategory.CarCategoryId" value="@CarCategory.CarCategoryId" />
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <InputText id="category" @bind-Value="CarCategory.Category" class="form-control" />
                    <ValidationMessage For="() => CarCategory.Category" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/carcategories">Back to List</a>
</div>

@code {
    // Get parameters from form input
    [SupplyParameterFromQuery]
    public int CarCategoryId { get; set; }

    [SupplyParameterFromForm]
    public CarCategory? CarCategory { get; set; }

    // When page loads, get CarCategory by id
    protected override void OnInitialized()
    {
        // Send id to repository method and retrieve the category
        CarCategory ??= carCategoryRepository.GetCarCategoryById(CarCategoryId);

        if (CarCategory is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public void UpdateCarCategory()
    {
        //DB.Attach(CarCategory!).State = EntityState.Modified;

        try
        {
            carCategoryRepository.UpdateCarCategory(CarCategory);
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!CarCategoryExists(CarCategory!.CarCategoryId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/carcategories");
    }

    public bool CarCategoryExists(int carcategoryId)
    {
        return carCategoryRepository.GetAllCarCategories().Any(e => e.CarCategoryId == carcategoryId);
    }
}
